https://github.com/yllkashala/INT_20_21_Gr26.git

.logo img{
    float: left;
    margin-left: 20px;
    width: 100px;
    height: auto ;
}
.main{
    max-width: 1200px;
    margin: auto;

}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFE8D6;
    font-size: 200%;
    text-align: center;
}

.title h1{

}
.artistet header{
    background-image: artistet.png;
}
.titulli-a{
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFE8D6;
    font-size: 300%;
    text-align: center;
}
 
.grey-section {
    background-color: #CB997E;
}

.grey-content {
    color: #6B705C;
    height: 120vh;

}

.grey-content hr {
    border: 1.5px solid #6B705C;
    border-radius: 10px;
    background-color: #6B705C;
    width: 5%;
    margin: auto;
}

.grey-content h5 {
    color: #6B705C;
    padding-bottom: 10px;
    color: #6B705C;
}

.grey-content p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: #6B705C;
    
}

.grey-header {
    padding-top: 85px;
    text-align: center;
}


.grey-header h1 {
    font-size: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #6B705C;
}

.grey-header p {
    padding: 10px 50px 0;
    font-weight: 400;
}


.grey-section__cards  {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #333;
    padding: 0 12%;
    padding-top: 55px;
}

.grey-section__cards h5 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.grey__card {
    padding: 10px;
}

.grey__card h1 {
    padding: 40px 0 2px;
    text-transform: uppercase;
}

.grey__card p {
    padding: 10px 30px 0;

}


.grey-section__cards img {
    border-radius: 100%;
    width: 140px;
}

.simple-highlight{
 background-color:#A5A58D;
 padding:0.1em 0.2em;
}
